body {
    background-color: #00CCFF;
    display: flex;
    align-items: center;
    height: 100vh; 
    flex-direction: column; 

}
#seven-day-report {
    display: none; 
    flex-direction: column;
    align-items: center; 
    gap: 5px;  
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    
}

#seven-day-report h2 {
    font-size: 40px; 
    white-space: nowrap; 
}


.info-line {
    display: flex;
    justify-content: center; 
    gap: 20px;
    margin-bottom: 10px; 
}

.next-block{
    background-color: #0099CC;
    display: flex;
    justify-content: center;
    gap: 100px;
    border-radius: 10px;

}
.small-block{
    display: flex;
    flex-direction: column;
    margin: 10px;

}
.small-block div {
    display: flex;
    align-items: center; 
    gap: 10px; 
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}


.main-image {
    margin-top:200px;
    height: 400px; 
    display: block;
}


.small-image {
    height: 100px; 
    display: block;
}

.plus-icon {
    display: block;
    width: 100px;
    height: 100px;
}


h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 100px;
    color: black;
}


h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 40px;
    color: white;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 30px;
    margin-left: 20px; 
    width: 100%; 
    gap:30px;
}


.user div {
    display: flex;
    align-items: center;
    gap: 10px;
}

